body{
    margin: 0;
    padding: 0;
    height: 100vh;width: 100vw;
    background-color: #e6eff6;
    font-family:sans-serif;
}
.outer{
    height: 100vh;width: 100vw;
    box-sizing: border-box;
}
.inner1{padding: 10px;margin:0 ;
    height: 33vh;
    box-sizing: border-box;
    background-color:#ffffff;
}
.inner2{
    height: 33vh;
    padding: 15px;
    box-sizing: border-box;
    background-color:#2bb3b1;
    
}

.inner3{font-size: 15px;
    color: #cae9e7;
    height: 34vh;
    padding: 10px;
    box-sizing: border-box;
    background-color:#48bfbd;
}
ul{
    padding-left: 10px;
}
ul li{
    list-style:none ;
      
  }
.button1{border-radius: 5px ;
    background-color: #bfdf32;
    width: 200px;
    height: 30px;cursor: pointer;
}
/* for laptop */
@media screen and (min-width: 768px) {
    .outer{
        width: 100%;
        height: 100%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    .inner1{
            padding: 120px 0 0 150px;
            box-sizing: border-box;
            width: 100%;
            height: 50%;
            background-color:#ffffff;
            font-size: 30px;
    }
    .row{
        display: flex;
    }
    .inner2{
        width: 50%;
        height: 50vh;
        padding: 20px 0 0 150px;
        box-sizing: border-box;
        background-color:#2bb3b1;
        font-size: 30px;
    }
    .inner3{font-size: 20px;
        color: #cae9e7;
        width: 50%;
        height: 50vh;
        padding: 10px;
        box-sizing: border-box;
        background-color:#48bfbd;
    }

}
        
      
